body{
    padding: 50px;
    background-color: #D0D1D5;
}

.tooltipAssist{
    position:fixed;
    display:none;
    background-color: black;
    opacity: .7;
    color: white;
    padding: 7px;
    border-radius: 5%;
  }

.goalLocation{
    background-image: url("soccer-goal.jpg");
    width: 400px;
    height: 600px;
}

.goalLocation2{
    background-image: url("soccer-goal.jpg");
    width: 400px;
    height: 600px;
}

center{
    margin-top: 30px;
}

a.button{
    background-color: green;
    border-color: green;
    margin-left: 10px;
}
a.button:hover,
a.button:active,
a.button:focus{
    border: 0px !important;
    color: white !important;
    background-color: darkgreen;
}

h1{
    color: rgb(17, 32, 17);
    font-size: 4.5em;
    font-weight: bold;
    letter-spacing: -2px;
    border-bottom: 2px solid #335179;
    text-transform: uppercase;   
    text-shadow: 2px 2px  #335179;
}


h3{
    color: rgb(17, 32, 17);
    font-size: 4.5em;
}

h4{
    color: rgb(17, 32, 17);
    font-size: 4.5em;
}

.container{
    width: flex;
    display: auto;
}


#league{
    background-color: #335179;
    border: black;
    color: white;
}

img{
padding-bottom: 50px;
}

/**
 * ----------------------------------------
 * animation tracking-in-expand
 * ----------------------------------------
 */
 @-webkit-keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }

  .tracking-in-expand {
	-webkit-animation: tracking-in-expand 1.0s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tracking-in-expand 1.0s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}
  
