body{
    padding: 50px;
}

.tooltipAssist{
    position:fixed;
    display:none;
    background-color: black;
    opacity: .7;
    color: white;
    padding: 7px;
    border-radius: 5%;
  }

.goalLocation{
    background-image: url("soccer-goal.jpg");
    width: 400px;
    height: 600px;
}

.goalLocation2{
    background-image: url("soccer-goal.jpg");
    width: 400px;
    height: 600px;
}
